
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --font-family-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --background: #0d0d0e;
    --background-light: #19191b;
    --muted: #5a5959;
    --text-main: #cfcfcf;
    --text-muted: #b0b0b0;
    /* --surface: #262629;
    --surface-higher: #2f2f33;
    --border-strong: #ffffff0f; */
    --border-color: #595960;
    --link: #0099ff;
    --link-hover: #004e9c;
    /* --focus: #047de7; */

    --selection: #047de7;
    --selection-bg: color-mix(in oklab, var(--selection) 30%, var(--background));
}

@media (prefers-color-scheme: dark) { 
    :root {
        /* x */
    }
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection);
    border-radius: 1px;
}

::-moz-selection {
    background-color: var(--selection-bg);
    color: var(--selection);
}


html, body {
    height: 100%;
    background-color: var(--background);
    color: var(--text-main);
    font-family: var(--font-family-sans);
    line-height: 1.6;
    font-size: 18px;
    margin: 0px auto;
    
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    scrollbar-color: var(--muted) transparent;
    scrollbar-width: thin; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: min(65ch, 100%);
    min-height: 100%;
    padding: 5rem 1.5rem 5rem 1.5rem;
    /* padding-top: 6rem;
    padding-bottom: 6rem; */
}

header {
    /* margin-bottom: 2.5rem; */
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-wrap: balance;
}

.role {
    margin-top: 0.25rem;
    font-size: 0.95rem;
    color: var(--text-muted);
    /* font-weight: 350; */
}

p {
    line-height: 1.6;
}

.link {
    cursor: pointer;
    color: inherit;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    text-decoration-color: var(--muted);
    -webkit-text-decoration-color: var(--muted);
    -webkit-text-decoration-color: var(--muted);
    -webkit-text-decoration-color: var(--muted);

    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.link:hover, .link:focus {
    color: var(--link);
    text-decoration-color: var(--link-hover);
    border: none;
    outline: none;
    /* outline: 1px solid var(--link); */
    border-radius: 2px;
    outline-offset: 2px;

    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.link:active {
    text-decoration-color: var(--link);
    -webkit-text-decoration-color: var(--link);
}

button.link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.toast {
    min-width: 5rem;
    background-color: var(--background-light);
    color: var(--text);
    text-align: center;
    border-radius: 0.75rem;
    padding: 0.65rem 1rem;
    font-size: 0.9rem;

    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 30px;

    opacity: 0;
    transform: translateX(-50%) translateY(-1rem);
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.bio {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    /* border-top: 1px solid var(--border-color); */
    font-size: 0.875rem;
    color: var(--text-muted);
}

.timekeep {
    margin-bottom: 1.2rem;
    justify-content: left;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.2rem;
    margin-bottom: 3rem;
    border-top: 1px solid var(--border-color);
}

.footer-links {
    display:flex;
    gap: 1rem;
}

.copy-tag {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.15rem 0.35rem;

    /* font-family: var(--font-family-mono); */
    font-size: 16px;
    /* font-weight: 500; */
    color: var(--text-main);

    background: var(--background-light);
    border: 1px dashed var(--border-color);
    border-radius: 0.4rem;

    cursor: pointer;
    outline: none;
    text-decoration: none;

    transition-property: color, border-color, background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.copy-tag:hover{
    color: var(--link);
    border-color: var(--link-hover);
    border-style: dashed;
    background-color: color-mix(in oklab, var(--link) 8%, transparent);
}

/* Icon Sizing & Color States */
.copy-icon {
    width: 0.85em;
    height: 0.85em;
    fill: currentColor;
    color: var(--text-muted);
    flex-shrink: 0;

    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.copy-tag:hover .copy-icon{
    color: var(--link);
}